body{
    background: #BDBDBD;
}

#secondHeading {
    color: gray;
}

#imagen {
    border-radius: 50%;
}

#rowFelipe {
    margin: 5%;
}

.portafolio {
    margin-left: 10%;
    margin-right: 10%;
    
}
.contact {
    margin-left:  10%;
    margin-right: 10%;
    margin-top: 5%;
}