

<div class="row d-flex flex-row border-top border-bottom mb-2 p-5" id="row1">
    <div id="text" class="col-9 d-flex flex-column">
        <div id="headings" class="d-flex flex-row">
            <h3 class="me-1">The first heading</h3>
            <h3 id="secondHeading">Will catch your eye</h3>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit repellat natus unde incidunt officiis, suscipit officia temporibus, culpa eaque maiores nisi, sunt ut. Quis obcaecati iste magnam cum asperiores fuga.</p>
    </div>
    <div id="imagen" class="col-3">
        <img src="../website/assets/img/1.jpg" alt="Pelao" id="imgPelao" class="img-fluid round">
    </div>
</div>

<div class="row d-flex flex-row border-top border-bottom p-5" id="row1">
    <div id="imagen" class="col-3">
        <img src="../website/assets/img/2.jpg" alt="Pelao" id="imgPelao" class="img-fluid round">
    </div>
    <div id="text" class="col-9 d-flex flex-column">
        <div id="headings" class="d-flex flex-row">
            <h3 class="me-1">The second heading</h3>
            <h3 id="secondHeading">is pretty cool too</h3>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit repellat natus unde incidunt officiis, suscipit officia temporibus, culpa eaque maiores nisi, sunt ut. Quis obcaecati iste magnam cum asperiores fuga.</p>
    </div>
</div>