<div>
    <h4>Portafolio</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas harum, dolorum tempore, quidem, facilis
        reprehenderit nostrum quaerat et iste eius voluptatem aliquam expedita ea iusto consectetur odio fuga vero rem.
    </p>
</div>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quis optio aut deserunt esse, doloremque commodi enim, quod quidem architecto earum eos expedita et temporibus fugit possimus! Provident, voluptate neque.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate porro odio, in velit recusandae earum nulla atque voluptatibus? Dicta aut nostrum assumenda labore tempora a ullam officia? Repellat, unde?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Proyect name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate porro odio, in velit recusandae earum nulla atque voluptatibus? Dicta aut nostrum assumenda labore tempora a ullam officia? Repellat, unde?</p>
                </div>
            </div>
        </div>

    </div>


</div>